<div class="container vh-100 p-5" role="main">
  <!-- Resources -->
  <h1 class="text-center pt-5">WELCOME TO MY WEBSITE</h1>
  <hr />
  <p class="justify-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe laborum
    ratione mollitia repellendus maiores vero neque at similique, natus, maxime
    modi? Inventore natus ipsa perferendis sed necessitatibus recusandae nostrum
    praesentium.
  </p>
  <p class="justify-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe laborum
    ratione mollitia repellendus maiores vero neque at similique, natus, maxime
    modi? Inventore natus ipsa perferendis sed necessitatibus recusandae nostrum
    praesentium.
  </p>
  <h3>About:</h3>
  <p class="justify-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe laborum
    ratione mollitia repellendus maiores vero neque at similique, natus, maxime
    modi? Inventore natus ipsa perferendis sed necessitatibus recusandae nostrum
    praesentium.
  </p>
</div>
